<!-- based on https://github.com/kubernetes/website/blob/master/layouts/partials/deprecation-warning.html -->

{{ if (.Site.Param "deprecated") }}
<section id="deprecation-warning">
  <div class="content deprecation-warning">
    <h3>
      You are viewing documentation for CNI version: {{ .Param "version" }}
    </h3>
    <p> CNI {{ .Param "version" }} documentation is no longer actively maintained. The version you are currently viewing is a static snapshot. For up-to-date documentation, see 
      <a href="{{ site.Params.currentUrl }}">{{ .Site.Params.latest }}</a>.
    </p>
  </div>
</section>
{{ end }}

