<section class="container-xl">
  <div class="row">
    <div class="col-12">
      <hr>
      <p>
        <a href="https://cncf.io">
          <img src="img/logos/cncf-color.png" width="200">
        </a>
        </br>
        We are a Cloud Native Computing Foundation sandbox project.
      </p>
      <p>
        KubeCon + CloudNativeCon North America Virtual | November 17-20, 2020 | Don’t Miss Out | <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/">Register Now</a>
      </p>
    </div>
  </div>
</section>
